<template>

    <div>
        <v-client-table :columns="columns" :data="dados" :options="options">
            <a slot="uri" slot-scope="props" target="_blank" :href="props.row.uri">+</a>

            <div slot="child_row" slot-scope="props">
                <!--
                                The link to {{props.row.descricao_cliente}} is <a :href="props.row.uri">{{props.row.uri}}</a>
                -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <!--<h5>Linha do tempo do pedido {{props.row.pedido}} </h5>-->
                            </div>
                            <div style="display:inline-block;width:100%;overflow-y:auto;">
                                <ul class="timeline timeline-horizontal">
                                    <li class="timeline-item">
                                        <div :class="props.row.class_pedido" class="timeline-badge "><i
                                                class="fa fa-shopping-bag"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title ">Pedido efetuado</h5>
                                                <p >
                                                    <small class="text-muted "><i class="fa fa-calendar-times-o"></i>
                                                        {{props.row.data_pedido}}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>
                                                    <small>Cliente: {{props.row.codigo_cliente}}
                                                        {{props.row.descricao_cliente}}
                                                    </small>
                                                </p>
                                                <p>
                                                    <small>Entrega: {{props.row.entrega}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-item">
                                        <div :class="props.row.class_separacao" class="timeline-badge "><i
                                                class="fa fa-cubes"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Separação</h5>
                                                <p>
                                                    <small class="text-muted"><i class="fa fa-calendar-times-o"></i>
                                                        {{props.row.S0002}}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p><i class="fa fa-user-circle"> </i> Separador:
                                                    {{props.row.nome_separador}}</p>
                                                <p :class="props.row.t_limit_iniciar_separa"><i class="fa fa-clock-o"> </i>
                                                    <small> Aguardando início: {{props.row.t_iniciar_separa}}</small>
                                                </p>
                                                <p :class="props.row.t_limit_separando" ><i class="fa fa-clock-o"></i>
                                                    <small > Separando: {{props.row.t_separando}}</small>
                                                </p>
                                                <p><i class="fa fa-clock-o"></i>
                                                    <small> Tempo total do pedido: {{props.row.t_total_separado}}
                                                    </small>
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-item">
                                        <div :class="props.row.class_conferencia" class="timeline-badge "><i
                                                class="fa fa-list-alt"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Conferência </h5>
                                                <p>
                                                    <small class="text-muted"><i class="fa fa-calendar-times-o"> </i>{{props.row.C0002}}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p><i class="fa fa-user-circle"> </i> Conferente:
                                                    {{props.row.nome_conferente}}</p>
                                                <p :class="props.row.t_limit_iniciar_conferencia"><i class="fa fa-clock-o"> </i>
                                                    <small> Aguardando início: {{props.row.t_iniciar_conferencia}}
                                                    </small>
                                                </p>
                                                <p :class="props.row.t_limit_conferindo"><i class="fa fa-clock-o"></i>
                                                    <small> Conferido: {{props.row.t_conferindo}}</small>
                                                </p>
                                                <p><i class="fa fa-clock-o"></i>
                                                    <small> Tempo total do pedido: {{props.row.t_total_conferido}}
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li v-if="props.row.modoentrega === '3'" class="timeline-item">
                                        <div :class="props.row.class_entrega" class="timeline-badge "><i
                                                class="fa fa-truck"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title"><i class="fa fa-user"> </i> Entregue no Balcão </h5>
                                                <p>
                                                    <small class="text-muted"><i class="fa fa-calendar-times-o"></i>
                                                        {{props.row.E0003}}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <!--<p><i class="fa fa-motorcycle"> </i> Motoboy:
                                                    {{props.row.entregador_nome}}</p>
                                                <p><i class="fa fa-clock-o"> </i>
                                                    <small> Liberar o motoboy: {{props.row.t_iniciar_liberamotoboy}}
                                                    </small>
                                                </p>
                                                <p><i class="fa fa-clock-o"></i>
                                                    <small> Sair para entrega: {{props.row.t_iniciar_transito}}</small>
                                                </p>
                                                <p><i class="fa fa-clock-o"></i>
                                                    <small> Tempo da corrida do motoboy:
                                                        {{props.row.t_iniciar_entregue}}
                                                    </small>
                                                </p>-->
                                                <p><i class="fa fa-clock-o"></i>
                                                    <small> Tempo total do pedido: {{props.row.tempo_total}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li v-else class="timeline-item">
                                        <div :class="props.row.class_entrega" class="timeline-badge "><i
                                                class="fa fa-truck"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title"><i class="fa fa-motorcycle"> </i> Entrega com Motoboy </h5>
                                                <p>
                                                    <small class="text-muted"><i class="fa fa-calendar-times-o"></i>
                                                        {{props.row.E0003}}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Motoboy:
                                                    {{props.row.entregador_nome}}</p>
                                                <p :class="props.row.t_limit_iniciar_liberamotoboy"><i class="fa fa-clock-o"> </i>
                                                    <small> Liberar o motoboy: {{props.row.t_iniciar_liberamotoboy}}
                                                    </small>
                                                </p>
                                                <p :class="props.row.t_limit_iniciar_transito"><i class="fa fa-clock-o"></i>
                                                    <small> Sair para entrega: {{props.row.t_iniciar_transito}}</small>
                                                </p>
                                                <p :class="props.row.t_limit_iniciar_entregue"><i class="fa fa-clock-o"></i>
                                                    <small> Tempo da corrida do motoboy:
                                                        {{props.row.t_iniciar_entregue}}
                                                    </small>
                                                </p>
                                                <p><i class="fa fa-clock-o"></i>
                                                    <small> Tempo total do pedido: {{props.row.tempo_total}}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </v-client-table>
    </div>

</template>

<script>
    import VueTables from 'vue-tables-2';
    import Vue from 'vue'



    Vue.use(VueTables.ClientTable);


    export default {
        name: "vc-datatable.vue",
        props: {
            empresa: {
                type: String,
                required: true
            },

        },


        data() {
            return {
                columns: ['pedido', 'descricao_cliente', 'data_pedido', 'entrega', 'descricao_status'],
                dados: [],
                options: {
                    headings: {

                        pedido: 'Número',
                        descricao_cliente: 'Cliente',
                        data_pedido: 'Data do Pedido',
                        entrega: 'Modo de entrega',
                        descricao_status: 'Status Atual',

                    },
                    //Valores padrão -> https://github.com/matfish2/vue-tables-2/blob/master/lib/config/defaults.js
                    texts: {
                        filter: "",
                        filterBy: 'Agrupar por {column}',
                        noResults: 'Uhmm! Não localizei o seu pedido aqui na plataforma, acredito que não chegou até aqui, verifique no SSPlus :)',
                        loading: 'Aguarde, ja estou carregando os pedidos :)',
                        count: '',
                        page: 'Página',
                        filterPlaceholder: 'Pesquisar pedidos'
                    },

                    sortable: ['data_pedido', 'data_status', 'pedido', 'descricao_cliente'],
                    filterable: ['pedido', 'descricao_cliente', 'colaborador', 'entrega','entregador_nome','nome_conferente' ,'nome_separador']
                }
            }
        },

        mounted: function () {
            this.getPedidos();
            const self = this;

            window.Echo.channel(this.empresa)
                .listen('.pedido', function (result) {

                    if (result) {
                        console.log('Esta funcionando no Datatable')
                        self.getPedidos();
                    }

                });

        },

        methods: {
            getPedidos() {
                const self = this;
                axios.get('/monitor/gestores/empresa/id/getpedidos/'+this.empresa)
                    .then(response => (
                        self.dados = response.data
                    ))
            },
        }
    }
</script>

<style>

    .VuePagination {
        text-align: center;
    }

    .vue-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .vue-pagination-ad {
        text-align: center;
    }

    .glyphicon.glyphicon-eye-open {
        width: 16px;
        display: block;
        margin: 0 auto;
    }

    th:nth-child(3) {
        text-align: center;
    }

    .VueTables__child-row-toggler {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        margin: auto;
        text-align: center;
    }

    .VueTables__child-row-toggler--closed::before {
        content: "+";
    }

    .VueTables__child-row-toggler--open::before {
        content: "-";
    }

    /* Timeline */
    .timeline,
    .timeline-horizontal {
        list-style: none;
        padding: 20px;
        position: relative;
    }

    .timeline:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline .timeline-item {
        margin-bottom: 20px;
        position: relative;
    }

    .timeline .timeline-item:before,
    .timeline .timeline-item:after {
        content: "";
        display: table;
    }

    .timeline .timeline-item:after {
        clear: both;
    }

    .timeline .timeline-item .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 52px;
        font-size: 22px;
        text-align: center;
        position: absolute;
        top: 18px;
        left: 50%;
        margin-left: -25px;
        background-color: #7c7c7c;
        border: 3px solid #ffffff;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline .timeline-item .timeline-badge i,
    .timeline .timeline-item .timeline-badge .fa,
    .timeline .timeline-item .timeline-badge .glyphicon {
        top: 2px;
        left: 0px;
    }

    .timeline .timeline-item .timeline-badge.primary {
        background-color: #1f9eba;
    }

    .timeline .timeline-item .timeline-badge.info {
        background-color: #5bc0de;
    }

    .timeline .timeline-item .timeline-badge.success {
        background-color: #59ba1f;
    }

    .timeline .timeline-item .timeline-badge.warning {
        background-color: #d1bd10;
    }

    .timeline .timeline-item .timeline-badge.danger {
        background-color: #ba1f1f;
    }

    .timeline .timeline-item .timeline-panel {
        position: relative;
        width: 46%;
        float: left;
        right: 16px;
        border: 1px solid #c0c0c0;
        background: #ffffff;
        border-radius: 2px;
        padding: 20px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline .timeline-item .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -16px;
        display: inline-block;
        border-top: 16px solid transparent;
        border-left: 16px solid #c0c0c0;
        border-right: 0 solid #c0c0c0;
        border-bottom: 16px solid transparent;
        content: " ";
    }

    .timeline .timeline-item .timeline-panel .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline .timeline-item .timeline-panel .timeline-body > p,
    .timeline .timeline-item .timeline-panel .timeline-body > ul {
        margin-bottom: 0;
        font-size: 13px;
    }

    .timeline .timeline-item .timeline-panel .timeline-body > p + p {
        margin-top: 5px;
    }

    .timeline .timeline-item:last-child:nth-child(even) {
        float: right;
    }

    .timeline .timeline-item:nth-child(even) .timeline-panel {
        float: right;
        left: 16px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline-horizontal {
        list-style: none;
        position: relative;
        padding: 20px 0px 20px 0px;
        display: inline-block;
    }

    .timeline-horizontal:before {
        height: 3px;
        top: auto;
        bottom: 26px;
        left: 56px;
        right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline-horizontal .timeline-item {
        display: table-cell;
        height: 280px;
        width: 20%;
        min-width: 320px;
        float: none !important;
        padding-left: 0px;
        padding-right: 20px;
        margin: 0 auto;
        vertical-align: bottom;
    }

    .timeline-horizontal .timeline-item .timeline-panel {
        top: auto;
        bottom: 64px;
        display: inline-block;
        float: none !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline-horizontal .timeline-item .timeline-panel:before {
        top: auto;
        bottom: -16px;
        left: 28px !important;
        right: auto;
        border-right: 16px solid transparent !important;
        border-top: 16px solid #c0c0c0 !important;
        border-bottom: 0 solid #c0c0c0 !important;
        border-left: 16px solid transparent !important;
    }

    .timeline-horizontal .timeline-item:before,
    .timeline-horizontal .timeline-item:after {
        display: none;
    }

    .timeline-horizontal .timeline-item .timeline-badge {
        top: auto;
        bottom: 0px;
        left: 43px;
    }

    .tempoLimit {
        color: red !important;
    }


</style>