<template>
    <div class="row">
        <vc-pedido-ss v-for="chamada in chamadas" v-bind:key="chamada.pedido"
                      :descricao_cliente="chamada.descricao_cliente"
                      :status="chamada.status"
                      :status_descricao="chamada.status_descricao"
                      :colaborador="chamada.colaborador"
                      :data_pedido="chamada.data_pedido"
                      :data_status="chamada.data_status"
                      :modoentrega="chamada.modoentrega"
                      :pedido="chamada.pedido"
                      :finalizado="chamada.finalizado"
                      :cancelado="chamada.cancelado"
                      :empresa="chamada.empresa"
                      :tempoLimit="chamada.tempo"
        />
    </div>
</template>

<script>

    import VcPedidoSs from "./vc-pedido-ss";

    export default {
        components: {VcPedidoSs},

        props: {
            empresa: {
                type: String,
                required: true
            },
            monitor: {

            },
        },
        data() {
            return {
                status_a1 : [],   //1	A0001	Pedido efetuado aguardando separação e conferencia
                status_c1 : [],   //2	C0001	Pedido em Conferencia
                status_c2 : [],   //3	C0002	Conferencia do Pedido concluída
                status_s1 : [],   //4	S0001	Pedido em Separação
                status_s2 : [],   //5	S0002	Separação do pedido concluída
                status_e1 : [],   //6	E0001	Entrega Liberada (definido o motoboy)
                status_e2 : [],   //7	E0002	Entrega em Transito (Saiu para Entregar)
                status_a3 : [],   //8	E0003	Entrega Fechada (Motoboy ja voltou)
                status_d1 : [],   //9	D0001	Pedido cancelado separação e conferencia
                chamadas: [],
                ultchamada: 'zero',
                infchamada: true,
                notificar: false,
            }
        },

        computed: {
            fchamadas() {
                return this.chamadas.slice(0, 50)
               // return this.chamadas.slice(0, this.monitor.qtdsenhasaguardando)
               // return this.chamadas.slice(0, this.monitor.qtdsenhasaguardando)
            },
        },

        mounted: function () {
            this.getPedidos();
            const self = this;
            console.log('Recebendo notificações da empresa '+ this.empresa)
            window.Echo.channel(this.empresa)
                .listen('.pedido', function (result) {

                    if (result) {
                        console.log(result.pedido);
                        self.chamadas = result.pedido;
                     //   self.removeRepetidos(result.pedido);
                      //  self.ultchamada = result.pedido.pedido;
                    }
                });

            //if (localStorage.senhas_aguardando) this.chamadas = JSON.parse(localStorage.senhas_aguardando);

           // if (localStorage.getItem('P_pedidos_'+this.empresa)) this.chamadas = JSON.parse(localStorage.getItem('P_pedidos_'+this.empresa));
        },

        methods: {

            getPedidos() {
              axios.get('/monitor/gestores/empresa/pedidos/painel/0001');
            },

            removeRepetidos(arr) {
                let newArray = this.chamadas.filter(function (chamada) {
                    return chamada.pedido !== arr.pedido ///ver como tratar cada status para nao deixar reṕetido
                })

                newArray.unshift(arr)
               // localStorage.senhas_aguardando = JSON.stringify(newArray)
                localStorage.setItem('P_pedidos_'+this.empresa, JSON.stringify(newArray));
                this.chamadas = newArray
            },

            playSound() {
                const audio = new Audio('/audio/SD_ALERT_3.mp3');
                const promise = audio.play();

                if (promise !== undefined) {
                    promise.then(_ => {
                        audio.play()
                    }).catch(error => {

                    });
                }
            },

            animacao(val) {
                Vue.nextTick(() => {
                    document.getElementById(val).classList.add("senha")
                })
            },

            removeAnimacao() {
                const self = this;
                return new Promise((resolve, reject) => {   // return a promise
                    setTimeout(() => {
                        try {
                            Vue.nextTick(() => {
                                document.getElementById(self.ultchamada).classList.remove("senha")
                            })
                        } catch (e) {
                            reject('Remove: ' + e)
                        }
                    }, 5000)
                })
            },

            removeSenha(arr) {
                let newArray = this.chamadas.filter(function (chamada) {
                    return chamada.pedido !== arr.pedido
                })

            //    localStorage.senhas_aguardando = JSON.stringify(newArray)
                localStorage.setItem('P_pedidos_'+this.empresa, JSON.stringify(newArray));
             //   localStorage['s_cli_aguardando+this.empresa ']= JSON.stringify(newArray)
                this.chamadas = newArray
            },
        }
    };
</script>

