<template>

    <div :class=" classepadrao ">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-interval="6000" data-ride="carousel">
            <div class="carousel-inner">



                <!--Acompanhe o seu pedido-->
                <!--<div class="carousel-item  ">
                    <img class="img-fluid mx-auto d-block img-promocao "
                         src="/img/backend/marktplace/acompanhe_seu_pedido.png" alt="Gestão Parts">

                    <div class="promocao d-none d-md-block ">
                        <h1 v-bind:style="styleproDescricao" class="descricao"></h1>
                        <h1 v-bind:style="styleproDescricao" style="text-align:center"> Novidade!! Agora você pode
                            acompanhar o seu pedido em tempo real.</h1>
                    </div>
                </div>-->

                <!--//Loja-->
                <div class="carousel-item active ">
                    <img class="img-fluid mx-auto d-block img-promocao"
                         v-bind:src=" monitor.imgLogo" alt="">
                    <div class="promocao d-none d-md-block ">
                        <h1 v-bind:style="styleproDescricao" class="descricao"></h1>
                        <h1 v-bind:style="styleproDescricao" style="text-align:center"> PRODUTOS EM PROMOÇÃO</h1>
                    </div>
                </div>



                <!--//Promoções-->
                <div v-for="promocao in promocoes" v-bind:key="promocao.codigopromocao" class="carousel-item ">
                    <img class="img-fluid mx-auto d-block img-promocao"
                         :src="link_imagem_produto(promocao.item)" alt="">
                    <div class="promocao d-none d-md-block ">
                        <h1 v-bind:style="styleproDescricao" class="descricao">{{ promocao.descr2 }}</h1>
                        <h1 class="preco precold ">De R$ {{ fmtPreco(promocao.prvist)}}</h1>
                        <h1 v-bind:style="styleproValor" class="preco "> R${{ fmtPreco(promocao.prpromo) }}</h1>
                    </div>
                </div>

                <!--//Gestão Parts-->
                <div class="carousel-item  ">
                    <img class="img-fluid mx-auto d-block img-promocao"
                         src="/img/backend/marktplace/gestaoparts-logosite.png" alt="Gestão Parts">

                    <div class="promocao d-none d-md-block ">
                        <h1 v-bind:style="styleproDescricao" class="descricao"></h1>
                        <h1 v-bind:style="styleproDescricao" style="text-align:center"> Especialista em gestão de
                            Autopeças e Oficina Mecânica</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['monitor'],
        data() {
            return {
                promocoes: [],

                styleproDescricao: {
                    color: this.hetToRgb(this.monitor.proDescColor, 100),
                    fontSize: this.monitor.proDescSize + 'px',
                    opacity: '0.9',
                },
                styleproValor: {
                    color: this.hetToRgb(this.monitor.proValColor, 100),
                    fontSize: this.monitor.proValSize + 'px',
                    opacity: '0.9',
                },

                tamanho: 6,
                classepadrao: ''
            }
        },


        mounted() {
            console.log("Promoções montado com sucesso.");

            this.configuraLayoutPromocao();

            //   const self = this;
            //   window.Echo.channel('promocao_'.monitor.empresa)
            //       .listen('.promocoes', function (result) {
            //           if (result) {
            //               self.promocoes = result.promocoes;
            //               console.log(result.promocoes)
            //           }
            //       });
            this.getPromocoes();

        },

        methods: {

            configuraLayoutPromocao() {
                //Verifica se a senha esta inativa, se estiver aumenta 3 colunas para exibir as promocoes
                if (!this.monitor.senhas) {
                    console.log(this.monitor.senhas)
                    this.tamanho = this.tamanho + 3;
                }
                //Verifica se as noticia estao inativas, se estiver aumenta 3 colunas para exibir as promocoes
                if (!this.monitor.noticias) {
                    this.tamanho = this.tamanho + 3;
                }
                //configura as classes da div para exibri de forma correta.
                this.classepadrao = 'align-self-center  borda col-' + this.tamanho;
            },

            link_imagem_produto(codigo) {
                return '/imagem/produto/0/' + codigo;
            },

            getPromocoes() {
                const self = this;
                // Chava a funcao de promocoes no backend, que é respondida via pusher
                this.$http.get('/monitor/promocoes')
                    .then(function (promocoes) {
                        console.log(promocoes.body);
                        self.promocoes = promocoes.body;
                    })
            },
            hetToRgb(hex, opacity) {
                hex = hex.replace('#', '');
                let r = parseInt(hex.substring(0, 2), 16);
                let g = parseInt(hex.substring(2, 4), 16);
                let b = parseInt(hex.substring(4, 6), 16);

                let result = 'rgba(' + r + ',' + g + ',' + b + ',' + opacity / 100 + ')';
                console.log(result);
                return result;
            },

            fmtPreco(preco) {
                // Formata as casas decimais e troca ponto por virgula do preço.
                return parseFloat(preco).toFixed(2).replace('.', ',');
            }
        }
    };
</script>

<style>
    .img-promocao {
        margin-top: 60px;
        max-width: 500px;
        max-height: 500px;
        min-height: 400px;
        /*text-shadow: 1px 2px 3px #666;*/
    }

    .descricao {
        margin-top: 15px;
        text-align: center;
        /*text-shadow: -2px -2px 3px rgba(0, 0, 0, 1);*/
        /*text-decoration: overline;*/
    }

    .preco {
        text-align: center;
        /*text-shadow: -2px -2px 3px rgba(0, 0, 0, 1);*/
    }

    .precold {
        text-decoration: line-through;
        color: rgba(255, 0, 0, 0.6);
    }

    .promocao {
        /*background-color: rgba(0, 0, 1, 0.6);*/
    }

</style>
