<template>

        <nav v-bind:style="styleHeader" class="navbar navbar-expand-md navbar-dark " style="height: 45px">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-ajust" v-bind:style="styleHeaderText"><b><h2>{{empresa.fantasia}}</h2></b></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a v-bind:style="styleHeaderText" class="navbar-brand mx-auto text-ajust" href="#"><b><h2>|</h2></b></a>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 ">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a v-bind:style="styleHeaderText" class="nav-link text-ajust "><b><h2>{{ empresa.municipio }}{{ empresa.estado }} </h2></b></a>
            </li>
            <li class="nav-item active">
                 <a v-bind:style="styleHeaderText" class="nav-link text-ajust"><b><h2>{{this.data }} {{ hora }}</h2></b></a>
            </li>
            <li class="nav-item active">
                <a v-bind:style="styleHeaderText" class="nav-link text-ajust"><img v-bind:src="this.iconeTempo"> </a>
            </li>
            <li class="nav-item active">
                <a v-bind:style="styleHeaderText" class="nav-link text-ajust"><b><h2>{{ this.temperatura }}</h2></b></a>
            </li>
            
            
        </ul>
    </div>
</nav>

</template>

<script>
import Moment from 'moment';

    export default {

        props: ['monitor','empresa'],

        data(){
            return{
                  time: Date.now(),
                  data: Moment(Date.now()).format("DD/MM/YY"),
                  key : '92a4e9ec0525b4b2a50f6e7c9cc7b565',  // API de temperatura
                  temperatura : '',
                  iconeTempo : '',

                  styleHeader : {
                      backgroundColor: this.monitor.headerColor,
                      opacity : '0.9',
                  },
                  styleHeaderText : {
                      color: this.monitor.headerTextColor,
                  },
            }
        },

        computed: {
            hora() {
                return Moment(this.time).format("HH:mm:ss");
            }
        },

        mounted() {
            console.log('Componente Header (Empresa, cidade, temperatura) montado com sucesso.')
            this.getTemperatura()
        },

        created() {
            setInterval(() => {
                this.time = Date.now();
            }, 1000);

            setInterval(() => {
                this.getTemperatura();                  
            }, 1800000) // De 30 em 30 minutos atualiza a temperatura
        },

        methods:{
            getTemperatura() {
                //Trata caracteres especiais

             //    this.$http.get('http://api.openweathermap.org/data/2.5/weather?q=' + this.strTexCaracteres('CURITIBA') +',BR&appid='+ this.key +'&units=metric')
                 this.$http.get('http://api.openweathermap.org/data/2.5/weather?q=' + this.strTexCaracteres(this.empresa.municipio) +',BR&appid='+ this.key +'&units=metric')
                .then(temperatura => temperatura.json())
                .then(function(temperatura){
                     this.temperatura = Math.round(temperatura.main.temp)+'°';
                     this.iconeTempo = 'http://openweathermap.org/img/w/'+temperatura.weather[0].icon+'.png';
                })
            },

            strTexCaracteres(text) {
                // Remove todos os espaços em branco duplicado, espaços simples não são afetados.
                text = text.replace(/\s{2,}/g, '');
                return text;
            }
        }
    }
</script>

<style>
    .text-ajust{
          text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
        padding-left: 50px;
    }

    .text-color-header {
        color: blanchedalmond;
        margin-left: 15px;
        padding-top: 17px;
        
    }
</style>

