<template>






            <marquee style="margin-top:10px"   behavior="scroll" scrolldelay="35">

                        <span style="font-size:25px; margin-right: 5px" v-for="noticia in noticias" ><i class="fa fa-info-circle"></i> {{ noticia.title }} | </span>
                <span style="font-size:25px; margin-right: 5px"  ><i class="fa fa-info-circle"></i> <b>Gestão Parts</b> especialista em gestão de autopeças e oficina mecânica, possui e-commerce integrado e muito mais!! acesse: www.gestaoparts.com.br  | </span>


            </marquee>




</template>

<script>
    export default {

        props: ['monitor'],

        data() {
            return {
                noticias: [],
                key: '4e2e9e27107647a08386c40db9d9fce9'
            }
        },

        mounted() {
            console.log('Noticias footer montado');

            this.getNoticias();

        },

        methods: {
            getNoticias() {
                let self = this;
                // recupera as Noticias
                this.$http.get('https://newsapi.org/v2/everything?sources=' + this.monitor.noticias_fonte + '&apiKey=4e2e9e27107647a08386c40db9d9fce9')
                    .then(noticias => noticias.json())
                    .then(function (noticias) {
                        this.noticias = noticias.articles.splice(0, 99999);
                    })

            },

            created() {
                setInterval(() => {
                    this.getNoticias();
                }, 3600000);

            },
        }
    }
</script>

<style scoped>
    li {
        text-decoration: none;
        list-style-type: none;

    }
    .quebra {
        word-wrap: break-word
    }



</style>