<template>
    <div class="col-3">
        <div>



            <marquee  behavior="scroll" direction="up" scrolldelay="350"
                     style="height:900px; max-height: 900px; word-wrap: break-word;overflow: hidden; ">
                <ul>
                    <li  v-for="noticia in noticias">
                        <h3 style="padding: 30px; color: white; background-color: rgba(0, 0, 0, 0.5)">{{ noticia.title }}</h3>
                        <hr style="background-color: white;">
                    </li>
                </ul>
            </marquee>


        </div>
    </div>
</template>

<script>
    export default {

        props: ['monitor'],

        data() {
            return {
                noticias: [],
                key: '4e2e9e27107647a08386c40db9d9fce9'
            }
        },

        mounted() {
            console.log('Montado noticias');

            this.getNoticias();

        },

        methods: {
            getNoticias() {
                let self = this;
                // recupera as Noticias
                this.$http.get('https://newsapi.org/v2/everything?sources=' + this.monitor.noticias_fonte + '&apiKey=4e2e9e27107647a08386c40db9d9fce9')
                    .then(noticias => noticias.json())
                    .then(function (noticias) {
                        this.noticias = noticias.articles.splice(0, 99999);
                    })

            },

            created() {
                setInterval(() => {
                    this.getNoticias();
                }, 3600000);

            },
        }
    }
</script>

<style scoped>
    li {
        text-decoration: none;
        list-style-type: none;

    }
    .quebra {
        word-wrap: break-word
    }



</style>