<script>
    export default {
        props: ['monitor'],
        data() {
            return {
                chamadas: [],
                ultchamada: 'zero',
                infchamada: true,
                notificar: false,
            }
        },

        computed: {
            fchamadas() {
                return this.chamadas.slice(0, this.monitor.qtdsenhasaguardando)
            },
        },

        mounted: function () {
            console.log('Senhas aguardando processamento.'+ this.monitor.empresa.codigo)
            const self = this;

            window.Echo.channel(self.monitor.empresa.codigo)
                .listen('.senha', function (result) {
                    if (result) {
                        console.log(result)
                        //Verifico se esta com a classe vermelha
                        if (result.senhas.class === 'vermelha') {
                            self.removeRepetidos(result.senhas)
                            self.animacao(result.senhas.nronff)
                            self.playSound()
                            self.removeAnimacao()
                            self.ultchamada = result.senhas.nronff;
                        } else {
                            self.removeSenha(result.senhas)
                        }
                    }
                });

           // if (localStorage.senhas_aguardando) this.chamadas = JSON.parse(localStorage.senhas_aguardando);
            if (localStorage.getItem('PS_aguardando_'+ this.monitor.empresa.codigo)) this.chamadas = JSON.parse(localStorage.getItem('PS_aguardando_'+ this.monitor.empresa.codigo));

        },

        methods: {
            playSound() {
                const audio = new Audio('/audio/SD_ALERT_3.mp3');
                const promise = audio.play();

                if (promise !== undefined) {
                    promise.then(_ => {
                        audio.play()
                    }).catch(error => {

                    });
                }
            },

            animacao(val) {
                Vue.nextTick(() => {
                    document.getElementById(val).classList.add("senha")
                })
            },

            removeAnimacao() {
                const self = this;
                return new Promise((resolve, reject) => {   // return a promise
                    setTimeout(() => {
                        try {
                            Vue.nextTick(() => {
                                document.getElementById(self.ultchamada).classList.remove("senha")
                            })
                        } catch (e) {
                            reject('Remove: ' + e)
                        }
                    }, 5000)
                })
            },

            removeRepetidos(arr) {
                let newArray = this.chamadas.filter(function (chamada) {
                    return chamada.nronff !== arr.nronff
                })
                newArray.unshift(arr)
              //  localStorage.senhas_aguardando = JSON.stringify(newArray)
                localStorage.setItem('PS_aguardando_'+ this.monitor.empresa.codigo, JSON.stringify(newArray));
                this.chamadas = newArray
            },
            removeSenha(arr) {
                let newArray = this.chamadas.filter(function (chamada) {
                    return chamada.nronff !== arr.nronff
                })

                localStorage.setItem('PS_aguardando_'+ this.monitor.empresa.codigo, JSON.stringify(newArray));
                this.chamadas = newArray
            },

        }

    };
</script>

<template>
    <div>
        <div  class="senha-title text-center" >
            <h4><i class="fa fa-clock-o icon-title"  aria-hidden="true"> </i><STRONG> AGUARDANDO NA FILA PARA SEPARAÇÃO.</strong></h4>
        </div>

        <div class="bg-senhas">

            <ul class="lista-senhas">
                <li v-for="chamada in fchamadas" :key="chamada.nronff" :id="chamada.nronff"  class="item-senhas " >
                <div>
                    <div class="row item-row-senha">
                        <h4><i class="fa fa-circle item-senhas-color"  aria-hidden="true"> </i> {{ chamada.nronff }}</h4>
                    </div>
                    <div class="row item-row-senha">
                        <span>{{ chamada.descli }}</span>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped>

    .bg-senhas {
      /*  position: fixed;*/
      /*  left: auto;*/
       /* top: 70px;*/
        right: 0px;
        width: 100%;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .lista-senhas {
        display: inline;
        color: white;
    }

    .item-senhas {
        width: 180px;
        padding: 5px 1px 5px 1px;
        display: inline-block;
        border-right: solid 1px;
        font-size: 11px;
        min-height: 80px;
        max-height: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

    }
    .item-row-senha{
        margin: 0px auto;
        margin-left: 5px;
        padding: 0.10rem 0.1rem;
        align-self: center;

    }

    .item-senhas-color {
        color: red;
    }
    .senha-title {
        padding: 5px; color: white; background-color: rgba(255, 0, 0); margin-top: 2px
    }


</style>