<template>
    <div>
        <div class="dropdown">
            <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-bell"></i><span class="badge badge-pill badge-info">0</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item" href="#" v-for="notification in notifications" :key="notification.id">

                    <div class=" mb-1">
                        <small>
                            <b>Marktplace</b> Há  {{ Math.round( Math.abs(new Date() - new Date(notification.updated_at) ) / (1000*60*60*24) * 24)}}h
                        </small>
                    </div>
                    <span class="progress progress-xs">
                         <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </span>
                    <small class="text-muted">{{ notification.data.comment }}</small>
                </a>



                <a class="dropdown-item" href="#">Limpar Notificações</a>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        name: "Notificacao",

        created(){
            this.loadNotifications();
        },

        data() {
            return{
                notificationsItens: [],
            }
        },

        computed: {
            notifications () {
                return this.notificationsItens
            }
        },

        methods: {
            loadNotifications (){
                this.$http
                    .get('/admin/notificacoes')
                    .then(res => res.json())
                    .then(results => this.notificationsItens = results.notificacoes);

                console.log(this.notificationsItens)

            }
        }
    }
</script>

<style scoped>

</style>