<template>
    <div>

        <input
          type="text" 
          class="form-control"
          v-bind:value="caracteristica"
          v-on:input="caracteristica = $event.target.value"  
          placeholder="Descrição da Caracteristica" 
          list="lista-caracteristicas"  
          @change="send(caracteristica)"  
          v-on:keyup="autoComplete($event.target.value)"  
          autofocus 
          ref="inputcaracteristica"

          >
        
        
        
        <div class="panel-footer" v-if="results.length">

            <datalist id="lista-caracteristicas">
                <option  v-for="result in results" :value="result.descricao" :key=" result.id ">{{result.id}}</option>
            </datalist>
        </div>
    </div>
</template>
<script>
export default {
  props: ["endereco","zeracaracteristica"],


  data() {
    return {
      results: [],
      caracteristica:'',

    };
  },

   watch: {
    zeracaracteristica: function (val) {
      // Apenas serve para limpar o valor da input
      this.caracteristica = '';
      this.setFocus();
    },
    
  },

  methods: {
    autoComplete(caracteristica) {
      if(caracteristica){
        this.$http
          .get(this.endereco + caracteristica)
          .then(res => res.json())
          .then(results => (this.results = results));
        }
    },

    send(caracteristica) {
      console.log(caracteristica)
      this.$emit('recCaracteristica', caracteristica)

    },
    
    setFocus(){
    // Note, you need to add a ref="search" attribute to your input.
      this.$refs.inputcaracteristica.focus();
    } 


  }
};
</script>