<template>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-code"></i> Carregar veiculos
        </div>
        <div class="card-body">
            Veiculos
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Componte montado.')
        }
    }
</script>
