<template>
    <div class="col-sm-2 col-lg-2">
        <div class="card text-white bg-primary">
            <div class="card-body pb-0">
                <div class="btn-group float-right">
                    <!--<button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>-->
                </div>
                <div class="title-header titulo">Total de pedidos</div>
                <div class="text-value">{{ total }}</div>

            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:67px;  ">

                <!--<canvas- class="chart chartjs-render-monitor" id="chart-pedidos" height="210" width="996"
                         style="display: block; width: 332px; height: 70px;"></canvas->-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: "header-total-pedidos",

        props: ['total'],

        data() {
            return{
               /* total: this.$props.total*/
            }
        },
    }
</script>

<style scoped>

    .titulo {
        font-size: 25px
    }

</style>