<template>
    <div class="col-sm-2 col-lg-2">
        <div class="card text-white bg-warning">
            <div class="card-body pb-0">
                <button class="btn btn-transparent p-0 float-right" type="button">
                    <i class="icon-location-pin"></i>
                </button>

                <div class="title-header titulo">Em Separação</div>
                <div  class="text-value">{{ total }}</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:67px;">
                <!--div class="chartjs-size-monitor"
                     style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand"
                         style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink"
                         style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                    </div>
                </div>-->
                <!--<canvas- class="chart chartjs-render-monitor" id="chart-separacao" height="210" width="996"
                         style="display: block; width: 332px; height: 70px;"></canvas->-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "header-separacao",
        props: ['total'],

        data() {
            return{
                /*total: this.$props.total*/
            }
        },
    }
</script>

<style scoped>
    .titulo {

        font-size: 25px
    }

</style>