<template>
    <div class="col-sm-3 col-lg-3">
        <div class="card text-white bg-success">
            <div class="card-body pb-0">
                <div class="btn-group float-right">
                    <!--<button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>-->
                </div>
                <div class="" style="font-size: 25px; text-align: center">Total de entregas </div>

                <div class="row" style="margin-top: 28px; margin-bottom: 38px; text-align: center">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6" style="font-size: 40px"> {{ totalbalcao}} </div>
                            <div class="col-6"  style="font-size: 40px">{{ totalmotoboy }}  </div>

                        </div>
                        <div class="row">
                            <div class="col-6"  style="font-size: 21px">Motoboy</div>
                            <div class="col-6" style="font-size: 21px">Balcão</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "header-totalentrega",

        props: ['totalmotoboy','totalbalcao'],

        data() {
            return{
                motoboy: this.$props.totalmotoboy,
                balcao: this.$props.totalbalcao
            }
        },


    }
</script>

<style scoped>

</style>